$portrait: (
  orientation: portrait,
  max-width: '767px',
);

.base-hero { position: relative; }

.base-hero-carousel {
  position: relative;
  z-index: index($layers, base);

  &::before {
    content: "";
    position: absolute 0 0 0 0;
    z-index: index($layers, hero-cover);
    background-image: radial-gradient(circle farthest-corner, rgba(0,0,0,0.2), rgba(0,0,0,.7));
  }
}
.base-hero-carousel__cell {
  @include susy-media($portrait) {
    height: 100vh;
    position: relative;
  }
}
.base-hero-carousel__image {
  @include susy-media($portrait) {
    position: absolute 0 n() n() -50%;
    max-width: none;
    size: auto 100% !important;
  }
}

.base-hero-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  position: absolute 0 0 0 0;
  z-index: index($layers, hero-cover);
}

.base-hero-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.base-hero-content__slogan {
  padding: n() r(2);
  margin-bottom: r(4);
  text: center ms(2) #fff;
}
.base-hero-content__button { font-size: ms(1); }

.base-hero-search {
  margin-top: auto;
  background-color: rgba(0,0,0,.3);
}
.base-hero-search__tabs {
  display: flex;
  justify-content: center;
}
.base-hero-search__tab {
  @include Normalize();
  padding: r(1) r(2);
  width: 50%;
  text: ms(1) 2 #fff;
  position: relative;
  &.active,
  &:hover { border-top: 2px solid $accent; }

  & + &::before {
    content: "";
    size: 1px r(2);
    background-color: currentColor;
    left: 0;
    @include scut-center-transform(y);
  }
}
.base-hero-search__content {
  @include toggle-show();

  .search-form {
    padding: 0 n() r(2);
  }
}