.form--score {
  @include susy($tablet) {
    display: flex;
    justify-content: space-between;
    padding: n() r(4) r(2);
  }
}
.form--score__preview {
  display: none;
  @include susy($tablet) {
    display: block;
    padding-right: r(6);
    width: 50%;
  }
}
.form--score__editor {
  @include susy($tablet) {
    display: flex;
    flex-flow: column nowrap;
    padding-left: r(6);
    width: 50%;
    border-left: 1px solid $divider-gray;

    .form-actions { margin-top: auto; }
  }
}

.form-group--score {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: r(2);
  position: relative;
  
  [type='radio'] {
    @include Normalize();
    display: inline-block;
    height: 55px;
    flex: 1;
    border: 1px solid transparent;
    opacity: 0;
    @for $i from 1 through 10 {
      $value: $i * 0.5;
      $calc_value: if(str-length('#{$value}') < 3, '#{$value}.0', $value);
      &[value='#{$calc_value}']:checked ~ .form-group--score__stars {
        @for $j from 0 through floor($value) {
          .star-full:nth-child(#{$j}) { animation: bounceIn .5s ease-in-out 0s both; }
        }
        @for $k from 0 through round($value) {
          .star-half:nth-child(#{$k}) { animation: bounceIn .5s ease-in-out 0s both; }
        }
      }
    }
  }
}
.form-group--score__label {
  display: block;
  margin-bottom: r(1);
  width: 100%;
}
.form-group--score__stars {
  @include debug();
  position: absolute r(5) 0 n() 0;
  pointer-events: none;

  .stars-wrapper {
    display: flex;
    justify-content: space-around;
    position: absolute 0 0 n() 0;
  }

  .icon {
    size: 34px;
  }

  .star-full, .star-half {
    opacity: 0;
    fill: url(#radialGradient-star);
  }
  .star-o { fill: $divider-gray; }
}