.story-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: r(2) n();
  @include susy($tablet) {
    padding: n() r(2);
    justify-content: space-around;
    &.extracted {
      justify-content: center;
    }
  }
}

.story-button {
  $size: span(3 of 9 1.5);
  @include Normalize();
  width: $size;
  padding-top: $size;
  position: relative;
  overflow: hidden;
  border: 1px solid $divider-gray;
  border-radius: 50%;
  text: center $link-color;
  fill: currentColor;  
  transition: all .3s ease-in-out 0s;
  @include susy($tablet) {
    $size: 160px;
    width: $size;
    padding-top: $size;
    &:hover {
      color: $white;
      &::before { transform: none; }
    }
    .extracted & {
      $size: 86px;
      width: $size;
      padding-top: $size;
      margin: n() r(1);

      .icon {
        size: 0;
        margin-bottom: 0;
      }

      .wrapper { width: 100%; }
    }
  }
  &:focus { border-color: $link-color; }
  &::before {
    content: "";
    display: block;
    size: 100%;
    background-color: $link-color;
    position: absolute 0 n() n() 0;
    border-radius: 50%;
    transform: scale(0);
    transition: all .3s ease-in-out 0s;
  }
  &.active {
    color: $white;
    &::before { transform: none; }
  }

  .wrapper {
    @include scut-center-transform();
    width: 100%;
    @include susy($tablet) { width: auto; }
  }
  
  .icon {
    display: none;
    @include susy($tablet) {
      display: block;
      size: 56px;
      margin-bottom: r(2);
    }
  }

  .text {
    width: 100%;
    text: bold currentColor;
  }
}

.story-collapse {
  display: none;
  margin: r(2) r(-2) (r(-2) - 1px);
  padding: r(3);
  text-align: center;
  position: relative;
  background-image: linear-gradient(to bottom, #019CB0 0%, #00BCD4 100%);  
  &::before {
    $size: 17px;
    content: "";
    top: - round($size/2);
    @include scut-triangle(up, $size, #019CB0);
    @include scut-center-transform(x);
  }

  .ghost-button + .ghost-button { margin-left: r(4); }
}

.story-list { margin: n() r(-2); }
.story-list__heading {
  padding: r(1) r(2);
  margin-bottom: 0;
  text: $white ms(1);
  background-color: $accent;
  @include susy($tablet) {
    padding: n() r(3);
  }
}
.story-list__table {
  margin-bottom: r(-2);
  width: 100%;
  text-align: left;
  
  thead { color: $text-secondary-dark $accent; }
  
  td, th {
    &:first-child { padding-left: r(2); }
    &:last-child { padding-right: r(2); }
    @include susy($tablet) {
      &:first-child { padding-left: r(3); }
      &:last-child { padding-right: r(3); }
    }
  }
  
  th { padding-bottom: r(1); }
  
  td {
    padding: r(2) n();
    position: relative;
    color: $text-secondary;
    &::before {
      content: "";
      display: block;
      position: absolute n() 0 0 0;
      height: 1px;
      background-color: $divider-gray;
    }
    &:first-child::before {
      left: r(2);
      @include susy($tablet) { left: r(3); }
    }
    &:last-child {
      text-align: right;
      &::before {
        right: r(2);
        @include susy($tablet) { right: r(3); }
      }
    }
  }
  
  tr:last-child td::before {display: none;}
  
  .icon {
    size: 18px;
    fill: currentColor;
  }
}