= render layout: 'components/score_card',
  locals: { status: 'checked_judge', type: 'verdict' }
  - max_steps = 3

  = render layout: 'components/input_score_start', locals: {\
    step_text: '判決流程評鑑', step_count: 4, max_steps: max_steps,
    form_for: @verdict_score,
    as: :verdict_score,
    form_url: party_score_verdict_path(@verdict_score),
    method: :put,
    prev_url: party_story_path(@verdict_score.story),
    prev_url_method: :get,
    submit: '更新評鑑'\
  } do |f|
    = render 'components/input_score', f: f,
      label: '裁判滿意度評分', options: :rating_score
