= render layout: 'components/score_card',
  locals: { status: "checked_info", type: 'verdict' }

  = render layout: 'components/input_score_start', locals: {\
    step_text: '判決流程評鑑', step_count: 4, max_steps: 2,
    form_for: @verdict_score,
    as: :verdict_score,
    prev_url: input_info_party_score_verdicts_path(verdict_score: params[:verdict_score]),
    prev_url_method: :get,
    form_url: party_score_verdicts_path\
  } do |f|
    = render 'components/input_score_list', f: f,
      label: show_topic(:quality_scores, :score_3),
      options: [:score_3_1],
      scored_type: :quality_scores
