= f.input :decision_unit
= f.input :unit
= f.input :title
= f.input :claimant
= f.input :punish_no
= f.input :decision_no
= f.input :punish_type
= f.input :relevant_date_in_tw, as: "string", hint: "半型純數字，民國，格式：YY/MM/DD"
= f.input :decision_result, as: :text, input_html: { rows: 8 }
= f.input :decision_source
= f.input :reason, as: :text, input_html: { rows: 8 }
= f.input :is_anonymous
= f.input :anonymous_source
= f.input :anonymous
= f.input :origin_desc, as: :text, input_html: { rows: 8 }
= f.input :proposer
= f.input :plaintiff
= f.input :defendant
= f.input :reply, as: :text, input_html: { rows: 8 }
= f.input :reply_source
= f.input :punish, as: :text, input_html: { rows: 8 }
= f.input :content, as: :text, input_html: { rows: 8 }
= f.input :summary, as: :text, input_html: { rows: 8 }
= f.input :memo, as: :text, input_html: { rows: 5 }

.form-actions
  = f.submit "送出", class: "btn btn-primary"
  = " "
  = link_to admin_profile_punishments_path(@profile), class: "btn" do
    = "回到#{@profile.name}的懲處紀錄列表"