= f.input :decision_unit
= f.input :unit
= f.input :title
= f.input :claimant
= f.input :punish_no
= f.input :decision_no
= f.input :punish_type
= f.input :relevant_date_in_tw, as: "string", hint: "半型純數字，民國，格式：YY/MM/DD"
= f.input :decision_result
= f.input :decision_source
= f.input :reason
= f.input :is_anonymous
= f.input :anonymous_source
= f.input :anonymous
= f.input :origin_desc
= f.input :proposer
= f.input :plaintiff
= f.input :defendant
= f.input :reply
= f.input :reply_source
= f.input :punish
= f.input :content
= f.input :summary
= f.input :memo

.form-actions
  = f.submit "送出", class: "btn btn-primary"
  = " "
  = link_to admin_profile_punishments_path(@profile), class: "btn" do
    = "回到#{@profile.name}的懲處記錄列表"