p 您剛剛在司法陽光網請求重設觀察者帳號的密碼，因此收到這封郵件。請點選以下連結以重設您的密碼（若無法點選，請拷貝網址貼到網址列）：

p = link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token)

p 如果您並未送出這個請求，請忽略此封郵件。
