= render 'searchs/results',
  heading: '認識檢察官',
  description: '代表國家調查案例的檢察官，有什麼背景資料呢？一起來瞭解！',
  people: @prosecutors,
  type: 'prosecutor',
  placeholder: '選檢察署或輸入關鍵字',
  options: collect_for_prosecutors_offices,
  search_url: prosecutors_searchs_path
