= render partial: 'components/profile_hero', locals: { person: @profile }

- if @suits.present?
  = render partial: 'carousel'

= render partial: 'profiles'

= render partial: 'components/related_records'

= render partial: 'components/disqus_thread'