picture
  | <!--[if IE 9]><audio><![endif]-->
  source[
    data-srcset="#{gulp_asset_path("images/demo-rwd-dist/banner-#{num}-L.png")}"
    media="--desktop"
    data-parent-fit="cover"
  ]
  source[
      data-srcset="#{gulp_asset_path("images/demo-rwd-dist/banner-#{num}-M.png")}"
      media="--pad"
      data-parent-fit="cover"
  ]
  source[
      data-srcset="#{gulp_asset_path("images/demo-rwd-dist/banner-#{num}-S.png")}"
      data-parent-fit="cover"
  ]
  | <!--[if IE 9]></audio><![endif]-->
  img[
    src="#{gulp_asset_path("images/demo-rwd-dist/banner-#{num}-S.png")}"
    data-sizes="auto"
    class="lazyload"
    alt=""
    data-parent-fit="cover"
  ]