= link_to profile_path(person), class: "card--avatar card--avatar--#{type}"
	.card--avatar__pic-wrapper
		= render partial: 'components/avatar_pic', locals: {person: person}

	p.card--avatar__name = person.name