= link_to '認識法官', judges_path, class: "cell"
= link_to '認識檢察官', prosecutors_path, class: "cell"
= link_to '評鑑法官', who_are_you_path, class: "cell"
= link_to '我想找', searchs_path, class: "cell"
= link_to '關於我們', about_path, class: "cell"
= link_to '回報錯誤', 'https://jrf.neticrm.tw/civicrm/profile/create?gid=49&reset=1', class: "cell", target: "_blank"
