- email = email ? email : false
- identify_number = identify_number ? identify_number : false

= render layout: 'components/card', locals: {\
  heading: '設定密碼', type: type,
  name: name,
  email: (email if email),
  identify_number: (identify_number if identify_number)\
}
  = simple_form_for resource, as: resource_name,
    url: password_path(resource_name), html: { method: :put },
    wrapper: :md do |f|
    
    = f.input :reset_password_token, as: :hidden

    = f.input :password, label: "密碼", required: true,
      hint: ("最少為 #{@minimum_password_length} 字元" if @minimum_password_length),
      wrapper_html: {class: 'has-hint'}
    = f.input :password_confirmation, label: "密碼確認", required: true

    = render 'components/form_actions', f: f, submit: '送出'
