// Type
// ====

%body
  p, ul, ol, dl, pre, blockquote
    +leader(.5)
    +trailer(.5)
  p:empty
    display: none
  a
    @extend %link
  dt
    font-weight: bold
  dd
    margin-left: 0
    +trailer(.5)
    ul, ol
      // padding-left: ms(1)
      margin-top: 0

%type
  @extend %headings
  @extend %body

// Element Typography
// ==================
%indent-font
  +font(32, 40)

%lead
  +font(22, 40)

%sub
  +font(18, 30)

%nav-font
  +font(18, 40)

%button-font--large
  +font(18, 30)

%page-font
  +font(18, 18)

%list-font
  +font(16, 28)

%button-font
  +font(15, 30)

%date-font
  +font(15, 20)

%copy-font
  +font(13, 20)

%label-font
  +font(13, 21)

%year-font
  +font(12, 12)


address
  font-style: normal

// Selection style
// ===============

\::selection
  text-shadow: none
  background-color: $blue-light

// {{Article typography ---------}}
.article-content
  @extend %type
  max-width: scut-rem(650)
  margin: 0 auto
  
  p:first-letter
    +adjust-font-size-to(32px, 1)
  
  > :first-child
    margin-top: 0
  > :last-child
    margin-bottom: 0