= admin_widget_box "編輯#{@profile.name}的學經歷", icon: :pencil do
  = simple_form_for @education, url: admin_profile_education_path(@profile, @education), method: :put, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
