= admin_widget_box "編輯#{@owner.name}的學經歷", icon: :pencil do
  = simple_form_for @education, url: polymorphic_path([@owner, @education]), method: :put, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
