= render 'components/story_collapse_button', type: 'schedule',
  text: '評鑑開庭', href: input_info_lawyer_score_schedules_path,
  role: 'lawyer'

= render 'components/story_collapse_button', type: 'verdict',
  text: '評鑑判決', href: input_info_lawyer_score_verdicts_path,
  role: 'lawyer'
