= render 'components/story_collapse_button', type: 'schedule',
  text: '評鑑開庭', href: new_lawyer_score_schedule_path

= render 'components/story_collapse_button', type: 'verdict',
  text: '評鑑判決', href: new_lawyer_score_verdict_path
