div 當事人個人資訊頁

div = "姓名: #{current_party.name}"
div = "身分證字號: #{current_party.identify_number}"
div = "手機號碼: #{current_party.phone_number}"
div = "email: #{current_party.email}"
div
  - if current_party.unconfirmed_email
    p = "目前等待驗證中信箱: #{current_party.unconfirmed_email}"

div = link_to "寄送重設密碼簡訊", party_password_send_reset_password_sms_path, method: :post
