= render layout: 'components/score_card',
  locals: { status: "checked_judge", type: 'verdict' }
    = render layout: 'components/input_score_start', locals: {\
      step_text: '判決流程評鑑', step_count: 4, max_steps: 2,
      form_for: @verdict_score,
      as: :verdict_score,
      prev_url: input_info_lawyer_score_verdicts_path(verdict_score: params[:verdict_score]),
      prev_url_method: :get,
      form_url: lawyer_score_verdicts_path\
    } do |f|
      = render 'components/input_score', f: f,
        label: question_desc(:quality_scores, :score_3), options: get_verdict_score_hstore_attributes(:quality_scores), scored_type: :quality_scores
