section.section-people class="gradient--purple"
  .container
    h2.section-heading--black 認識檢察官

    = render 'components/avatar_list', people: @prosecutors, type: 'prosecutor', hide_pagination: true