h1 隱私條款

h4 適用範圍
p ◦ 本頁面的隱私權政策，適用於您在司法陽光網以及其延伸服務網站活動時，所涉及有關個人資料的蒐集、處理及利用說明。

p ◦ 使用者於閱覽本頁面使用說明及隱私權政策之後，繼續使用司法陽光網及其服務網站之作為，視為書面同意下述之資料蒐集、處理，及利用方式。

p ◦ 司法陽光網會透過簡訊或電子郵件發送您訂閱的庭期或相關開庭資訊給使用者。

h4 司法陽光網如何蒐集使用者資料？
p ◦ 使用者的各項個人識別資料，僅作為認證、授權標示，與通知等聯繫行為之用，不會對外公開。

p ◦ 司法陽光網會保留用戶連線設備IP位址、登入時間，及其使用瀏覽器等相關資訊。

h4 司法陽光網蒐集什麼資料？
p ◦ 使用者所上傳的開庭意見等相關資料將會經過彙整與運算後，公布於網站上，供一般民眾參考。

h4 司法陽光網會如何使用所蒐集的資料？
p ◦ 用戶IP位址、登入時間以及瀏覽器資訊，將會作為於改善服務品質之參考資訊。

h4 隱私權保護政策修訂
p ◦ 司法陽光網將不定時修訂本項政策，以符合最新的個人資料與相關法定權利之保護規範；當相關規定進行大幅度修改時，會於本網站、臉書粉絲專頁上張貼與推送告示。

h4 回報機制
p ◦ 司法陽光網對於相關資料的收集，已踐履個人資料保護法及其相關法規的基礎要求，並在資料的處理及利用上，經您同意本隱私政策後，透過量化與去識別化的流程，以強化使用者的隱私防護，相關資料在處理之後，亦將進行科研公益目的之分享，故倘若您對於任一筆資料的呈現，有與您個人隱私及其他合法權利防護產生衝突的疑惑，歡迎透過本網站提供之回報機制，將對您相關資料進行查閱、更正、停止利用，以及刪除的意見回饋給資料的管理者。
