h1 服務條款

h4 適用範圍

p ◦ 本網站由財團法人民間司法改革基金會負責維運。本站資料採CC0授權貢獻至公有領域；其餘資料以創用CC-BY 4.0授權條款釋出。

p ◦ 本頁面的著作權政策，適用於您在司法陽光往及其延伸服務網站活動時，所涉及之授權與被授權關係。

p ◦ 使用者於閱覽本頁面使用說明及著作權政策之後，繼續使用司法陽光網及其服務網站之作為，視為書面同意下述之使用條款。

p ◦ 司法陽光網會透過簡訊或電子郵件發送您訂閱的庭期或相關開庭資訊給使用者。

h4 司法陽光網會如何使用與提供所蒐集的資料？
p ◦ 所蒐集的開庭意見等相關資料將會經過彙整與運算後，公布於網站上，供一般民眾參考。

p ◦ 若司法陽光網管理者認為資料有誤，本站得移除或隱藏使用者所貢獻之資料。

p = raw("◦ 使用者透過司法陽光網所提供的資料，除將依前所述，被上傳至<a href='http://sunshine.jrf.org.tw/'>司法陽光網網站</a>外，財團法人民間司法改革基金會得援引相關資料作為研究與業務推廣之用。")

h4 資料的授權與分享方式
p ◦ 本網站刊載之所有資料與素材，事實性紀錄資訊不受著作權利保護者，得不受限制自由使用；另得受著作權及其相關權利保護之範圍者，以 創用CC 姓名標示 4.0 授權條款(CC BY 4.0)的方式提供公眾使用，使用者得不限時間、地域及目的，對其進行重製、改作、編輯、公開傳輸，或為其他依法需取得著作授權方可行之之利用。此一授權行為不會嗣後撤回，使用者亦無須取得書面或其他方式授權。然使用時，應註明出處。

p ◦ 使用者所提供之開庭資料，包括法官姓名、意見、評分等，日後得隱去回報者資訊後，採適宜的資料開放途徑進行公開披露。

h4 相關事項說明
p ◦ 司法陽光網網站授權範圍僅及於著作權及其相關權利保護之範圍，不及於其他智慧財產權利，包括但不限於專利、商標、及機關標誌或商號圖示之提供。

p ◦ 使用本網站提供之各項資料與素材，不論其受著作權利保護與否，使用者不得惡意變更其相關資訊，若編輯、改作後所展示之資訊與原不符而造成損害，使用者須自負民事、刑事上之法律責任。

p ◦ 使用者利用本網站無償提供之各項資料與素材，受有損害或損失，或致第三人受有損害或損失，除法令另有規定外，本網站及其維運單位不負任何賠償或補償之責。

h4 行為規範
p ◦ 使用者於司法陽光網遞交的各項資訊，不得涉及具恐嚇性、暴力性或猥褻性或不實資料之傳送與散布，亦不得對他人有不實謾罵或污辱等不當言論；此等狀況之判斷，由司法陽光往網站管理者依社會常情自主判斷，若判斷後認為已構成前述事態，網站管理者並具將相關資訊刪除，及逕行將個別使用者帳號權限停止之地位。

h4 回報機制
p ◦ 司法陽光網對於相關資料的收集，其受著作權利保護的部份，尊重以通常方法表示其為著作人之使用者，推定其為該素材之著作人；然若您是著作權利之擁有人或其代理人發現該素材未經您允許被上傳分享至本網站，敬請透過本網站提供之回報機制，檢具基礎之證明資訊及釋明理由，將對該素材停止發布之正式請求投遞給網站的管理者。

p ◦ 司法陽光網資訊來自於政府公開資料，若其中資訊有誤，敬請透過本網站提供之回報機制，檢具基礎之證明資訊及釋明理由，將對該資訊更正之請求投遞給網站的管理者。
