article
  = render partial: 'components/hero', locals: {\
    heading: zh_lorem_sentence, static: true}

  section.container.offcanvas-card-wrapper
    .card.card--article
      / 假資料
      = rwd_image\
        src: "http://placehold.it/360x240",
        srcset: [\
          "http://placehold.it/360x240 360w",
          "http://placehold.it/540x360 540w",
          "http://placehold.it/720x480 720w",
          "http://placehold.it/900x600 900w",
          "http://placehold.it/1080x720 1080w",
          "http://placehold.it/1296x864 1296w",
          "http://placehold.it/1512x1008 1512w",
          "http://placehold.it/1728x1152 1728w"\
        ]
      
      - 3.times
        p = zh_lorem_paragraphs rand(1..5)
      
      ul
        - 5.times
          li = zh_lorem_sentence
          
      = rwd_image\
        src: "http://placehold.it/360x240",
        srcset: [\
          "http://placehold.it/360x240 360w",
          "http://placehold.it/540x360 540w",
          "http://placehold.it/720x480 720w",
          "http://placehold.it/900x600 900w",
          "http://placehold.it/1080x720 1080w",
          "http://placehold.it/1296x864 1296w",
          "http://placehold.it/1512x1008 1512w",
          "http://placehold.it/1728x1152 1728w"\
        ]
      
      ol
        - 5.times
          li = zh_lorem_sentence
          
      blockquote = zh_lorem_paragraphs 5
