= admin_widget_box "新增#{@profile.name}的發表言論列表", icon: :pencil do
  = simple_form_for @article, url: admin_profile_articles_path(@profile), method: :post, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
