div 觀察者個人資訊頁

div = "姓名: #{current_court_observer.name}"
div = "學校: #{current_court_observer.school}"
div = "系級: #{current_court_observer.department_level}"
div = "學號: #{current_court_observer.student_number}"
div = "手機號碼: #{current_court_observer.phone_number}"
div = "email: #{current_court_observer.email}"

div
  - if current_court_observer.unconfirmed_email
    p = "目前等待驗證中信箱: #{current_court_observer.unconfirmed_email}"

div
  = link_to "發送密碼設定信", observer_password_send_reset_password_mail_path, method: :post, class: "btn btn-mini"
div = link_to '我要捐款', 'https://www.jrf.org.tw/donate'
