= admin_widget_box "編輯#{@owner.name}的相關新聞評論", icon: :pencil do
  = simple_form_for @review, url: polymorphic_path([@owner, @review]), method: :put, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
