= admin_widget_box "新增#{@profile.name}的相關新聞評論", icon: :pencil do
  = simple_form_for @review, url: admin_profile_reviews_path(@profile), method: :post, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
