@mixin Hidden {
  display: none !important; visibility: hidden;
}

@mixin Select {
  appearance: none;
  padding: 0 r(2) 0 r(1);
  border-radius: 0;
  // height: $input-height;
  // border: 1px solid $input-border-color;
  // background: url("images/arrow-down.svg")
  //           92% 50% / 8px 10px
  //           no-repeat
  //           transparent;
  .no-css-appearance & {
    @include scut-padding(n 0);
    background-image: none;
  }
}

@mixin Normalize() {
  appearance: none;
  border: none;
  outline: none;
  background: none transparent;
  padding: 0;
}