= render partial: 'components/profile_hero', locals: { person: @prosecutor, job: 'prosecutor' }

= render partial: 'profiles', locals: { job: 'prosecutor' }

= render partial: 'components/related_records', locals: { person: @prosecutor }
