= render layout: 'components/score_card',
  locals: { status: "checked_judge", type: 'schedule' }
  - max_steps = 4

  = render layout: 'components/input_score_start', locals: {\
    step_text: '開庭流程評鑑', step_count: 4, max_steps: max_steps,
    form_for: @schedule_score,
    as: :schedule_score,
    form_url: lawyer_score_schedule_path(@schedule_score),
    method: :put,
    prev_url: lawyer_story_path(@schedule_score.story),
    prev_url_method: :get,
    submit: '更新評鑑'\
  } do |f|
    = render 'components/input_score_list', f: f,
      label: show_topic(:attitude_scores, :score_1),
      options: get_schedule_score_hstore_attributes(:attitude_scores),
      scored_type: :attitude_scores
    = render 'components/input_score_list', f: f,
      label: show_topic(:command_scores, :score_2),
      options: get_schedule_score_hstore_attributes(:command_scores),
      scored_type: :command_scores
