= render layout: 'components/score_card',
  locals: { status: "checked_judge", type: 'schedule' }

  = render layout: 'components/input_score_start', locals: {\
    step_text: '開庭流程評鑑', step_count: 4, max_steps: 4,
    form_for: @schedule_score,
    as: :schedule_score,
    prev_url: input_judge_lawyer_score_schedules_path(schedule_score: params[:schedule_score]),
    prev_url_method: :get,
    form_url: lawyer_score_schedules_path\
  } do |f|
    = render 'components/input_score', f: f,
      label: ScoreQuestions.list(:attitude_scores, :score_1), options: ScheduleScore.stored_attributes[:attitude_scores], scored_type: :attitude_scores
    = render 'components/input_score', f: f,
      label: ScoreQuestions.list(:command_scores, :score_2), options: ScheduleScore.stored_attributes[:command_scores], scored_type: :command_scores
