p 感謝您以律師身分加入司法陽光網！請點選以下連結以設定您的密碼（若無法點選，請拷貝網址貼到網址列）：

p = link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token)

p 如果您並未註冊，請忽略此封郵件。
