p = @remind_story_after_judge

p = link_to "點我提供意見", new_party_score_schedule_url

p = "感謝您使用司法陽光網的案件訂閱服務！若您不想再訂閱此案，#{link_to "請點此", party_subscribe_url(@story), method: :delete, class: "btn btn-mini"}。".html_safe
