= render layout: 'components/score_card',
  locals: { status: @status, type: 'schedule' }
  - max_steps = 4

  - case @status
  - when 'checked_info'
    = render 'components/input_score_date',
      step_text: '輸入開庭日期', step_count: 2, max_steps: max_steps,
      form_for: @schedule_score,
      as: :schedule_score,
      form_url: checked_date_court_observer_score_schedules_path,
      prev_url: '#link'

  - when 'checked_date'
    = render 'components/input_score_judge',
      step_text: '輸入法官姓名', step_count: 3, max_steps: max_steps,
      form_for: @schedule_score,
      as: :schedule_score,
      form_url: checked_judge_court_observer_score_schedules_path,
      prev_url: '#link'

  - when 'checked_judge'
    = render layout: 'components/input_score_start', locals: {\
      step_text: '開庭流程評鑑', step_count: 4, max_steps: max_steps,
      form_for: @schedule_score,
      as: :schedule_score,
      form_url: court_observer_score_schedules_path\
    } do |f|
      = render 'components/input_score', f: f,
        label: '開庭滿意度評分', options: :rating_score

  - when 'thanks_scored'
    = render 'thanks_scored'
  
  - else
    = render 'components/input_score_info',
      step_text: '選擇法院/案號', step_count: 1, max_steps: max_steps,
      as: :schedule_score,
      form_for: @schedule_score,
      form_url: checked_info_court_observer_score_schedules_path
