defaults: &defaults
  SECRET_KEY_BASE: daskdjaslkjdsalkdj12341234
  host: localhost
  assets_host: localhost:3000
  asset_sync:
    bucket: myapp.5fpro.com
    region: us-east-1
  redis:
    url: redis://127.0.0.1:6379/0
  dalli:
    servers:
    - 127.0.0.1
    options:
      namespace: myapp
      expires_in: 0
      threadsafe: true
      failover: true
      compress: false
      keepalive: true
      username:
      password:
      pool_size: 1
  aws:
    access_key_id: abcdabcd
    secret_access_key: abcdabcd
  sidekiq:
    url: redis://127.0.0.1:6379/0
    namespace: myapp
  carrierwave:
    region: us-east-1
    bucket: myapp.5fpro.com
    host: localhost:3000
  mailer:
    default_sender: "no-reply@jrf.org.tw"
  sitemap:
    path: "sitemaps/"
  gtm:
    id: ""
  disqus:
    id: ""
  twilio:
    sid: "AC4d17f69a678c9ffaf4b190e92a340896"
    token: "xxxxxx"
    phone_number: "+18443293046"
  unsubscribe_key: "P2NVel3pHp"

development:
  <<: *defaults

test:
  <<: *defaults

staging: &defaults
  SECRET_KEY_BASE: daskdjaslkjdsalkdj12341234
  host: sunshine-demo.jrf.org.tw
  assets_host: assets-staging-jrf.s3-website-ap-northeast-1.amazonaws.com
  asset_sync:
    bucket: assets-staging-jrf
    region: ap-northeast-1
  redis:
    url: redis://staging.vzvst8.0001.apne1.cache.amazonaws.com/0
  dalli:
    servers:
    - staging-cache.vzvst8.cfg.apne1.cache.amazonaws.com
    options:
      namespace: myapp
      expires_in: 0
      threadsafe: true
      failover: true
      compress: false
      keepalive: true
      username:
      password:
      pool_size: 1
  aws:
    access_key_id: AKIAJ2GTR2HFD62LZLHQ
    secret_access_key: aaaaa
  sidekiq:
    url: redis://staging.vzvst8.0001.apne1.cache.amazonaws.com/0
    namespace: jrf-sunny
  carrierwave:
    region: ap-northeast-1
    bucket: assets-staging-jrf
    host: assets-staging-jrf.s3-website-ap-northeast-1.amazonaws.com
  mailer:
    default_sender: "no-reply@jrf.org.tw"
  sitemap:
    path: "sitemaps/"
  unsubscribe_key:

production:
  SECRET_KEY_BASE: daskdjaslkjdsalkdj12341234
  host: sunshine.jrf.org.tw
  assets_host: assets-jrf.s3-website-ap-northeast-1.amazonaws.com
  asset_sync:
    bucket: assets-jrf
    region: ap-northeast-1
  redis:
    url: redis://production.vzvst8.0001.apne1.cache.amazonaws.com/0
  dalli:
    servers:
    - production-cache.vzvst8.cfg.apne1.cache.amazonaws.com
    options:
      namespace: jrf-sunny
      expires_in: 0
      threadsafe: true
      failover: true
      compress: false
      keepalive: true
      username:
      password:
      pool_size: 1
  aws:
    access_key_id: AKIAJQBNVL6S33RM5ZQA
    secret_access_key: aaa
  sidekiq:
    url: redis://production.vzvst8.0001.apne1.cache.amazonaws.com/0
    namespace: jrf-sunny
  carrierwave:
    region: ap-northeast-1
    bucket: assets-jrf
    host: assets-jrf.s3-website-ap-northeast-1.amazonaws.com
  mailer:
    default_sender: "no-reply@jrf.org.tw"
  sitemap:
    path: "sitemaps/"
  unsubscribe_key:

