defaults: &defaults
  SECRET_KEY_BASE: daskdjaslkjdsalkdj12341234
  host: localhost
  assets_host: localhost:3000
  asset_sync:
    bucket: myapp.5fpro.com
    region: us-east-1
  redis:
    url: redis://127.0.0.1:6379/0
  dalli:
    servers:
    - 127.0.0.1
    options:
      namespace: myapp
      expires_in: 0
      threadsafe: true
      failover: true
      compress: false
      keepalive: true
      username:
      password:
      pool_size: 1
  aws:
    access_key_id: abcdabcd
    secret_access_key: abcdabcd
    region: "ap-northeast-1"
  sidekiq:
    url: redis://127.0.0.1:6379/0
    namespace: myapp
  carrierwave:
    region: us-east-1
    bucket: myapp.5fpro.com
    host: myapp.5fpro.com.s3-website-us-east-1.amazonaws.com
  sitemap:
    path: "sitemaps/"

development:
  <<: *defaults

test:
  <<: *defaults

staging: &defaults
  SECRET_KEY_BASE: daskdjaslkjdsalkdj12341234
  host: staging.jrf-sunny.tw
  assets_host: assets-staging-jrf.s3-website-ap-northeast-1.amazonaws.com
  asset_sync:
    bucket: assets-staging-jrf
    region: ap-northeast-1
  redis:
    url: redis://staging.vzvst8.0001.apne1.cache.amazonaws.com/0
  dalli:
    servers:
    - staging-cache.vzvst8.cfg.apne1.cache.amazonaws.com
    options:
      namespace: myapp
      expires_in: 0
      threadsafe: true
      failover: true
      compress: false
      keepalive: true
      username:
      password:
      pool_size: 1
  aws:
    access_key_id: AKIAJ2GTR2HFD62LZLHQ
    secret_access_key: aaaaa
    region: ap-northeast-1
  sidekiq:
    url: redis://staging.vzvst8.0001.apne1.cache.amazonaws.com/0
    namespace: jrf-sunny
  carrierwave:
    region: ap-northeast-1
    bucket: staging.jrf-sunny.tw
    host: assets-staging-jrf.s3-website-ap-northeast-1.amazonaws.com
  sitemap:
    path: "sitemaps/"

production:
  <<: *defaults
