development: &default
  adapter: 'postgis'
  encoding: 'unicode'
  database: 'election2016-official_development'
  host: '127.0.0.1'
  username: 'root'
  password: ''
  postgis_extension: true
  schema_search_path: 'public, postgis'

test: &TEST
  <<: *default
  database: 'election2016-official_test'

production:
  <<: *default
  database: 'election2016-official_production'

