// {{ Links }}
a {
  text-decoration: none;
  @include scut-color-swap($link-color, $link-hover-color);
}

// {{ Selection style }}
::selection {
  text-shadow: none;
  background-color: $gray-lighter;
}

// {{ Inline helpers }}
.helper--error { color: $danger; }