= admin_widget_box "編輯#{@owner.name}的專業證書", icon: :pencil do
  = simple_form_for @license, url: send("admin_#{@owner_singularize}_license_path", @owner, @license), method: :put, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
