= admin_widget_box "新增#{@owner.name}的專業證書", icon: :pencil do
  = simple_form_for @license, url: polymorphic_path([@owner, :licenses]), method: :post, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
