= admin_widget_box "新增#{@profile.name}的專業證書", icon: :pencil do
  = simple_form_for @license, url: admin_profile_licenses_path(@profile), method: :post, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
