= admin_widget_box "編輯司法恐龍面面觀 banner", icon: :pencil do
  = simple_form_for @suit_banner, url: admin_suit_banner_path(@suit_banner), method: :put, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
