= admin_widget_box "新增司法恐龍面面觀 banner", icon: :pencil do
  = simple_form_for @suit_banner, url: admin_suit_banners_path, method: :post, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
