// Banner 的極限寬度
$carousel-width-max: 2000

.hero-carousel
  +ir(1296/1944, 100%) // 初始比例
  max-width: scut-rem($carousel-width-max)
  margin: 0 auto
  z-index: index($layers, hero-carousel)
    
  // 限制高度 500px 的 pad 狀態
  +susy-media(medium)
    $carousel-height: scut-rem(500)
    padding: 0
    height: $carousel-height
    .lazyloaded
      min-height: $carousel-height

  // 桌面版比例
  +susy($desktop)
    +ir(2592/1296, 100%)
  
// 超過「極限寬度」以後
+susy-media(scut-em($carousel-width-max))
  // 防止 hero nav 超出 carousel 範圍
  .base-hero
    max-width: scut-rem($carousel-width-max)
    margin: 0 auto

  .hero-carousel
    padding: 0    // reset ratio
    height: auto  // reset ratio
    & > *
      position: static
      height: auto !important

// {{Carousel -----------}}
.carousel
  +ir(1296/1944, 100%, '.slick-list') // 初始比例
  margin: 0 auto scut-rem(30)
  z-index: index($layers, hero-carousel)

  +susy($pad)
    margin-bottom: 0
    padding-top: 0
    height: auto
    .slick-list
      position: static

.carousel__cell
  position: relative

  .caption
    +scut-absolute(n 0 0 0)
    padding: scut-rem(16)
    background-color: rgba(0,0,0,.5)

    +susy($pad)
      padding: scut-rem(27)
      
  .heading
    +font(32, 38)
    margin: 0
    color: #fff
  
  .description
    display: none
    
    +susy($pad)
      +font(15, 20)
      display: block
      margin:
        top: rhythm(.25)
        bottom: 0
      color: #fff

.slick-dots
  +scut-list-inline(scut-rem(14))
  margin-top: scut-rem(11)
  text-align: center
  line-height: scut-rem(12)

  button
    +scut-size(scut-rem(12) scut-rem(12))
    font-size: 0
    background-image: none
    background-color: $dot
    border-radius: 50%
    border: none
    &:hover
      background-color: $dot-active

.slick-active button
  background-color: $dot-active

// {{Profile carousel ---------------}}
.profile-carousel__cell
  $pad-size: scut-rem(14)
  @extend %scut-clearfix
  display: block
  padding: $pad-size
  background-color: $gray-dark

  +susy($pad)
    position: relative

  +susy($desktop)
    &:hover
      opacity: .8

  .image-wrapper
    margin-bottom: scut-rem(12)

    +susy($pad)
      +span(55% no-gutters)
      margin: 0

    +susy($desktop)
      width: 40%

  .text-wrapper
    +susy($pad)
      +span(last 45%)
      padding: 0 $pad-size scut-rem(50)

    +susy($desktop)
      width: 60%
      padding-left: scut-rem(21)

  .heading
    margin: 0
    +font(32, 40)
    color: #fff

  .description
    display: none

    +susy($pad)
      display: block
      margin-top: $pad-size
      +font(15, 18)
      color: #bababa
    
  .button
    display: none
    
    +susy($pad)
      display: inline-block
      padding: 0 scut-rem(16)
      +font(18, 35)
      +scut-absolute(n $pad-size $pad-size n)
      white-space: nowrap
      z-index: index($layers, base)
