// {{Feature card ----------}}
.feature-card
  padding: scut-rem(24)
  background-color: $brown
  
  & + &
    margin-top: scut-rem(36)

  .button--brown
    min-width: scut-rem(83)

.feature-card__heading
  +font(28, 28)
  margin: 
    top: 0
    bottom: scut-rem(22)
  font-weight: normal
  color: #fff

.feature-card__content
  +font(16, 24)