//  Sticky footer
//  =============

$footer-height: 258px
$root-selector: unquote("#page")
$root-footer-selector: unquote("#push")
$footer-selector: unquote("#ft")

// @include sticky-footer($footer-height, "#{$root-selector}", "#{$root-footer-selector}", "#{$footer-selector}");
