$all-text-inputs: 'input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]'

// {{Select custom ------}}

%select-normalize
  appearance: none
  padding: scut-rem(10) scut-rem(35) scut-rem(10) scut-rem(12)
  +font(16, 20)
  background-color: $gray-dark
  color: #fff
  border: scut-rem(1) solid $form-border
  max-width: 100%
  overflow: hidden
  
.select-container
  position: relative

  &:after
    content: ""
    +centered-triangle(scut-rem(13), scut-rem(11))
    +scut-absolute(n scut-rem(12) n n)
    pointer-events: none
    z-index: index($layers, base)

  .no-css-appearance &:after
    display: none

.select-custom
  @extend %select-normalize
  border-radius: 0
  width: 100%

.select-container--search-form
  @extend .select-container

  &:after
    +susy($pad)
      +centered-triangle(scut-rem(19), scut-rem(16))

  .select-custom
    display: block
    width: 100%
    padding:
      top: scut-rem(15)
      bottom: scut-rem(15)
    
    +susy($pad)
      +font(24, 24)

// {{Input group --------}}
.input-group--large
  margin-top: scut-rem(3)
  position: relative

  +susy($pad)  
    width: 100%
    border: scut-rem(1) solid $form-border

  .input
    display: block
    width: 100%
    height: scut-rem(60)
    padding-left: scut-rem(12)
    margin-bottom: scut-rem(12)
    font-size: scut-rem(24)
    border-radius: 0
    border: scut-rem(1) solid $form-border
    outline: none

    +susy($pad)
      margin-bottom: 0
      padding: .75rem scut-rem(130) .75rem scut-rem(12)
      height: auto
      line-height: 1.5rem
      border: none

  .button--gray-dark
    border-radius: 0

    +susy($pad)
      +scut-absolute(0 0 n n)
      // display: table-cell

.input-group
  margin-top: scut-rem(3)
  width: 100%
  border: scut-rem(1) solid $form-border
  background-color: #fff
  position: relative

  .input
    display: block
    width: 100%
    padding: scut-rem(4) scut-rem(92) scut-rem(4) scut-rem(12)
    +font(18, 20)
    border: none
    border-radius: 0
    outline: none

  .button--gray-dark
    line-height: scut-rem(28)
    min-width: scut-rem(80)
    border-radius: 0
    vertical-align: middle
    +scut-absolute(0 0 n n)
    