.hero
  padding: scut-rem(75) scut-rem(20)
  background:
    color: #efefef
    size: cover
    position: 50% 50%
    repeat: no-repeat  

.hero--profiles-judges
  background-position: 0 50%

.hero__heading
  @extend %hero-heading
  text-align: center
  text-shadow: 0 1px .5px #040000;
  color: #fff

.hero__description
  display: inline-block
  margin: 0
  padding: scut-rem(8) scut-rem(14)
  +adjust-font-size-to(18px, .6)
  color: #bababa
  background-color: rgba(0,0,0,.55)
  border-radius: scut-rem(3)

  &:empty
    display: none

// 個人頁
.hero--profile
  @extend .hero
  padding: scut-rem(20)

  +susy($pad)
    padding: scut-rem(60) 0
  
  .wrapper
    margin: 0 auto
    
    +susy($pad)
      padding-left: scut-rem(132 + 22)
      width: scut-rem(650)
      position: relative

    +susy($desktop)
      width: scut-rem(800)

.hero--profile__avatar
  @extend %scut-clearfix
  padding: 0 scut-rem(50)

  +susy($pad)
    padding: 0

  .image-wrapper
    +span(scut-rem(56) no-gutters)
    border-radius: 50%
    overflow: hidden

    +susy($pad)
      float: none
      width: scut-rem(132)
      +scut-absolute(0 n n 0)

  .text-wrapper
    margin-left: scut-rem(56 + 17)
    color: #fff
    text-shadow: scut-rem(1) scut-rem(1) scut-rem(1) rgba(0,0,0,.5)

    +susy($pad)
      margin-left: 0

  .name
    margin: 0
    +font(34, 36)

    +susy($pad)
      display: inline-block

  .job
    margin: 0
    +font(15, 20)

    +susy($pad)
      display: inline-block
      margin-left: scut-rem(6)

.hero--profile__profile
  padding: scut-rem(14)
  margin-top: scut-rem(20)
  +font(18, 30)
  background-color: rgba(0,0,0,.55)
  color: #bababa
  text-shadow: scut-rem(1) scut-rem(1) scut-rem(1) rgba(0,0,0,.5)

  +susy($pad)
    margin-top: scut-rem(8)
