.list--unstyled
  @extend %scut-list-unstyled

.list--avatar
  @extend %scut-list-unstyled
  @extend %scut-clearfix

.list--avatar__cell
  +gallery(1 of 2 (131px 17px))
  
  +susy($pad)
    +gallery(1 of 3 (131px 17px))
  
  +susy($desktop)
    +gallery(1 of 6 (131px 17px))

.list--related-people
  +scut-key-val('：', 0)
  
  .job
    font-weight: bold

.list--arrow
  +scut-list-custom($scut-rstri, scut-rem(20))

.list--profile
  +scut-list-custom('。', 1rem, $no-margin: true)
  +scut-clearfix

  +susy($pad)
    .cell
      display: inline-block
      margin-right: 2rem