$header-border-size: scut-rem(7);

$mb-logo-icon-height: scut-rem(40);
$mb-logo-icon-leader: scut-rem(5);
$mb-logo-icon-trailer: scut-rem(11);
$mb-header-height: 
  $mb-logo-icon-height
+ $mb-logo-icon-leader
+ $mb-logo-icon-trailer
+ $header-border-size;

$main-logo-icon-height: scut-rem(57);
$main-logo-icon-trailer: scut-rem(4);
$main-logo-slogan-leading: .5;
$main-logo-slogan-height: rhythm($main-logo-slogan-leading);
$main-header-height:
  $mb-logo-icon-leader
+ $mb-logo-icon-trailer
+ $main-logo-icon-height
+ $main-logo-icon-trailer
+ $main-logo-slogan-height
+ $header-border-size;