.profile-card
  display: block
  margin-bottom: scut-rem(20)
  background-color: $gray-light

  +scut-selected
    opacity: .7

.profile-card--news
  $pad-size: scut-rem(14)
  padding: scut-rem(75) $pad-size scut-rem(29)
  position: relative

  &:first-of-type
    margin-top: scut-rem(45)

  +susy($pad)
    padding: scut-rem(24) scut-rem(54) scut-rem(42) scut-rem(112)

  +susy($desktop)
    padding:
      right: scut-rem(32)
      bottom: scut-rem(48)
  
  .heading
    +font(28, 32)
    margin: 0
    font-weight: normal
    color: $link-hover-color

  .cal
    +scut-absolute(scut-rem(22) n n $pad-size)

    +susy($pad)
      +scut-coords(n n n scut-rem(35))

  .paper-name
    +font(15, 15)
    +scut-absolute(scut-rem(48) $pad-size n n)
    color: #000
    
    +susy($pad)
      +scut-coords(auto scut-rem(54) scut-rem(18) n)

    +susy($desktop)
      +scut-coords(n auto scut-rem(23) scut-rem(112))

.profile-card--award
  $pad-size: scut-rem(14)
  padding: scut-rem(24) $pad-size scut-rem(30)
  position: relative

  +susy($pad)
    padding: 
      left: scut-rem(40)
      right: scut-rem(40)

  +susy($desktop)
    padding-bottom: scut-rem(24)

  &:first-of-type
    margin-top: scut-rem(45)

  .wrapper
    +susy($desktop)
      float: left

  .prize
    margin: 0
    +font(32, 32)
    font-weight: normal
    color: #473610

  .date
    +font(15, 15)
    color: #000

    +susy($pad)
      +scut-absolute(scut-rem(42) scut-rem(40) n n)

    +susy($desktop)
      position: static

  .description
    margin: 
      top: scut-rem(18)
      bottom: scut-rem(18)
    +font(18, 22)
    color: #000

    +susy($desktop)
      margin: 0 auto scut-rem(10) scut-rem(255)

  .from
    +font(15, 20)
    margin: 0
    color: #000

    +susy($desktop)
      margin-left: scut-rem(255)

.profile-card--punishment
  $pad-size: scut-rem(14)
  padding: scut-rem(21) $pad-size scut-rem(58)
  position: relative

  &:first-of-type
    margin-top: scut-rem(45)

  +susy($pad)
    padding: scut-rem(28) scut-rem(42) scut-rem(58)

  .summary
    margin: 0
    +font(24, 28)
    color: $link-hover-color

  .date
    +font(15, 20)
    color: #000
    +scut-absolute(n n scut-rem(23) $pad-size)

    +susy($pad)
      +scut-coords(n n scut-rem(28) scut-rem(42))

  .by
    +font(15, 20)
    color: #000
    +scut-absolute(n $pad-size scut-rem(23) n)

    +susy($pad)
      +scut-coords(n scut-rem(42) scut-rem(28) n)