= admin_widget_box "編輯#{@owner.name}的職務經歷", icon: :pencil do
  = simple_form_for @career, url: send("admin_#{@owner_singularize}_career_path", @owner, @career), method: :put, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
