= admin_widget_box "新增#{@owner.name}的職務經歷", icon: :pencil do
  = simple_form_for @career, url: polymorphic_path([@owner, :careers]), method: :post, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
