= admin_widget_box "新增#{@profile.name}的職務經歷", icon: :pencil do
  = simple_form_for @career, url: admin_profile_careers_path(@profile), method: :post, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
