div 律師個人資訊頁

div = "姓名: #{current_lawyer.name}"
div = "Email: #{current_lawyer.email}"
div = "在職機關 : #{current_lawyer.current}"
div = "該帳號是否已認證 : #{current_lawyer.confirmed? ? "是" : "否"}"
div = "該帳號資訊是否完整 : #{current_lawyer.need_update_info? ? "不完整" : "完整"}"

div
  = link_to "發送密碼設定信", lawyer_password_send_reset_password_mail_path, method: :post, class: "btn btn-mini"
div = link_to '我要捐款', 'https://www.jrf.org.tw/donate'
