$search-tab-height: scut-rem(43)

.section-search-forms
  +scut-relative(n n $search-tab-height n)

.search-tabs
  +scut-list-inline(scut-rem(10))

.search-tab__cell
  font-size: scut-rem(20)
  line-height: $search-tab-height
  padding: 0 scut-rem(16)
  border: none
  border-radius: scut-rem(8) scut-rem(8) 0 0
  background-color: $brown-light
  
  .active &
    background-color: $yellow-light

%search-form-wrapper
  // @extend %scut-clearfix
  margin: 0 auto
  padding: 
    left: scut-rem(20)
    right: scut-rem(20)
  text-align: center

  +susy($pad)
    padding: 
      left: 0
      right: 0

.search-form-wrapper
  @extend %search-form-wrapper
  max-width: scut-rem(415)

.search-result-form-wrapper
  @extend %search-form-wrapper

  +susy($pad)
    max-width: scut-rem(272)
    
.search-group
  @extend %scut-list-floated
  display: inline-block
  margin-bottom: rhythm(-.5)

.search-group__cell
  overflow: hidden

  & + &
    border-left: scut-rem(1) solid $gray-dark

  &:first-child
    border-radius: scut-rem(8) 0 0 scut-rem(8)

  &:last-child
    border-radius: 0 scut-rem(8) scut-rem(8) 0

  .link
    display: block
    padding: 0 scut-rem(16)
    +font(18, 31)
    +scut-color-swap(#fff $yellow-dark, #fff $gray-dark)

  &.active
    .link
      background-color: $gray-dark