@mixin apply-background($gradients) {
  $shadow-gradient: linear-gradient(to top, rgba(0,0,0,0) 52%, rgba(0,0,0,.8) 100%) 50% 0 no-repeat;
  $bg: url('bg--who-are-you-960.jpg') 50% 0% / cover no-repeat;
  $bg-lg: url('bg--who-are-you-1920.jpg') 50% 0% / cover no-repeat;

  background: $shadow-gradient, $gradients, $bg;
  @include susy($tablet) { background: $shadow-gradient, $gradients, $bg-lg; }
}

.billboard { padding-top: (3/4*100%); }
.billboard--lawyer {
  $gradients: linear-gradient(to bottom,
                              rgba(255,236,179,0.00) 12%,
                              rgba(255,193,9,0.60) 60%,
                              #FFC109 99%);
  @include apply-background($gradients);
}