%base {
  @include Normalize();
  display: inline-block;
  padding: r(1) r(2);
  border-radius: 2px;

  &:focus {
    outline-width: 3px;
    outline-style: solid;
    outline-color: rgba($accent, .3);
    transition: all ease .3s 0s;
  }
}

.raised-button {
  @extend %base;
  text: bold center $white;
  background-color: $accent;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),
              0px 2px 2px 0px rgba(0,0,0,0.24);
  position: relative;
  &:hover { color: $white; }
  &:active { color: $white shade($accent, 20%); }

  &--judge {
    $bg: $blue;
    background-color: $bg;
    &:active { background-color: shade($bg, 20%); }
  }
  &--prosecutor {
    $bg: $purple;
    background-color: $bg;
    &:active { background-color: shade($bg, 20%); }
  }
}
.raised-button--large {
  @extend .raised-button;
  padding: n() r(5);
}

.flat-button {
  @extend %base;
  text: bold center;
  min-width: 64px;
  color: $accent !important;
  &:hover,
  &.active { background-color: $divider-gray; }
}
.flat-button--densed {
  @extend .flat-button;
  padding: r(1);
}
.flat-button--large {
  @extend .flat-button;
  padding: n() r(5);
}
.flat-button--addons {
  font-weight: bold;

  .icon {
    size: 16px;
    fill: currentColor;
    position: relative -1px n() n() n();
    &:first-child { margin-right: r(1); }
    &:last-child { margin-left: r(1); }
  }
}

.ghost-button {
  @extend %base;
  text: $white center bold;
  border: 2px solid $white;
  transition: all .3s ease 0s;
  @include scut-selected { color: $link-color $white; }
}
