%base {
  @include Normalize();
  display: inline-block;
  padding: r(1) r(2);
  border-radius: 2px;
}

.raised-button {
  @extend %base;
  text: bold center $white;
  background-color: $accent;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12),
              0px 2px 2px 0px rgba(0,0,0,0.24);
  position: relative;
  transition: background-color .3s ease 0s;
  &:active { background-color: shade($accent, 20%); }
}
.raised-button--large {
  @extend .raised-button;
  padding: n() r(5);
}

.flat-button {
  @extend %base;
  text: bold center;
  min-width: 64px;
  color: $accent !important;
  transition: background-color .3s ease 0s;
  &:hover { background-color: $divider-gray; }
}
.flat-button--large {
  @extend .flat-button;
  padding: n() r(5);
}