.card {
  margin: 0 r(2);
  padding: 0 r(2) r(2);
  background: $white;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
  border-radius: $global-radius;
  position: relative;
  z-index: index($layers, base);
  @include susy-media($card-max + r(4)) {
    margin: 0 auto;
    max-width: $card-max;
  }
  @include susy($tablet) {
    padding-top: r(2);
    &.has-info {
      position: relative r(-3) n() n() n();
      z-index: index($layers, base);
    }
  }
}
.card--wide {
  @include susy($tablet) {
    width: 90%;
    max-width: container($tablet-columns);

    .avatar .icon {
      size: 80px 50px;
      stroke-width: 4px;
    }
  }
}
.card__heading {
  margin: 0 r(-2) r(2);
  text: center $white ms(2) r(7);
  background-color: $accent;
  @include susy($tablet) {
    text: ms(5) 1.5;
    background-color: transparent;
    width: 100%;
    top: r(-20);
    @include scut-center-transform(x);

    .has-info & { top: r(-17); }
  }
}
.card__info {
  display: flex;
  padding-bottom: r(2);
  margin-bottom: r(2);
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  border-bottom: 1px solid $divider-gray;

  .title {
    font-size: ms(1);
  }

  .info {
    width: 100%;
    color: $text-secondary;
  }

  .avatar {
    position: absolute 0 0 n() n();
    z-index: index($layers, base);
  }

  .icon {
    stroke: #ABABAB;
    stroke-width: 10px;
    size: 30px 25px;
  }

  .avatar-party { stroke-width: 6px; }
}