%controller {
  top: 2px;
  border-radius: $global-radius !important;
  cursor: pointer;
  color: $text-color;
  &-hover { background: none $divider-gray; }
}

.ui-datepicker {
  &.ui-widget-content {
    padding: r(1)  r(1) (r(1) - 5px);
    border: none;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
  }
  &.ui-corner-all { border-radius: $global-radius !important; }
  .ui-widget-header {
    background: none transparent;
    border: none;
  }
  .ui-datepicker-title {
    text: $text-secondary 400;
  }
  .ui-state {
    &-default {
      text-align: center;
      border: none;
      background: none transparent;
      &:hover { background-color: $divider-gray; }
    }
    &-highlight {
      color: $white $accent;
      border-radius: $global-radius;
      &.ui-state-hover { color: $text-color; }
    }
    &-hover {
      border: none;
      background: none $divider-gray;
      border-radius: $global-radius !important;
    }
  }
  .ui-datepicker-next {
    @extend %controller;
    right: 4px;
  }
  .ui-datepicker-prev {
    @extend %controller;
    left: 4px;
  }
}