$input-rhythm: r(1);
$error-rhythm: r(3);

%control-border-bottom {
  content: "";
  display: block;
  size: 100% 1px;
  background-color: $accent;
  position: absolute (r(5) + 1px) 0 n() 0;
  transform: scaleX(0);
  transition: transform .3s ease 0s;  
}

.form-group {
  $bottom-gap: r(2);
  margin-bottom: $bottom-gap;
  padding-top: r(1);
  position: relative;
  &.text {
    &::before {
      @extend %control-border-bottom;
      top: auto; bottom: 0;
    }
    &.is-focused::before { transform: scaleX(1); }
  }
  &.squish-before { margin-top: r(-1); }
  &.addon-forgot-password {
    padding-right: 5em;
    &::before {
      content: "";
      display: block;
      size: 100% 1px;
      background-color: $divider-gray;
      position: absolute n() 0 0 0;
    }

    input { border-bottom: none; }
  }
  &.addon-prefix {
    &.is-focused .control-label { color: $white; }
    input:-webkit-autofill + .control-label { color: $white; }
    
    input { padding-left: r(3); }

    .control-label { padding-left: r(3); }

    .icon {
      size: 18px;
      fill: $text-secondary;
      position: absolute ($input-rhythm * 2) n() n() 0;
    }
  }
}

.form-actions {
  padding: r(1) n();
  &--space-between {
    display: flex;
    justify-content: space-between;
  }

  .flat-button--large {
    margin: r(2) n() r(-1);
  }
}

#{$all-text-inputs} {
  display: block;
  padding: $input-rhythm 0;
  width: 100%;
  line-height: 1.25;
  border: none;
  border-bottom: 1px solid $divider-gray;
  box-shadow: none;
  outline: none;
  &:focus,
  &:not(:disabled):active {
    + .control-label::before { transform: scaleX(1); }
  }
  &:disabled,
  &.readonly { color: $text-disabled; }
}
input, textarea {
  @include input-placeholder { color: $text-secondary; }
}
input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0 100px $white inset;
  -webkit-text-fill-color: $text-secondary;
}

@mixin active-control-label {
  text: $text-secondary ms(-1);
  top: 0;
  pointer-events: none;
}
.control-label {
  text: $gray 1.25;
  position: absolute ($input-rhythm * 2) 0 0 0;
  transition: all .3s ease 0s;
  &.disabled { color: $text-disabled !important; }
  &::before { @extend %control-border-bottom; }
  .readonly & {
    color: $text-disabled !important;
    &::before { opacity: 0; }
  }
  .is-focused &,
  input[value] + &,
  input:focus + &,
  select + & { @include active-control-label; }
}
input:-webkit-autofill + .control-label { @include active-control-label; }

[type="checkbox"] {
  @include Normalize();
  size: 18px;
  margin-right: r(1);
  &::after {
    content: "";
    display: inline-block;
    border: 2px solid $divider-gray;
    border-radius: 2px;
    size: 18px;
    background-color: #fff;
    position: relative 4px n() n() n();
  }
  &:checked::after {
    background: url(checked.svg) 50% 50% / contain no-repeat;
    border-color: $accent;
  }
  &:focus::after { border-color: $accent; }
}

select {
  @include Select;
  size: 100% 34px;
  outline: none;
  &:focus + .control-label::before { transform: scaleX(1); }
  &:disabled { color: $text-disabled; }
}

abbr[title="required"] { display: none; }

.forgot-password { position: absolute ($input-rhythm * 2) 0 n() n(); }

.help-block--error {
  margin: r(1) 0;
  color: $danger;
  font-weight: bold;
}
.help-block--hint {
  @extend .help-block--error;
  color: $text-secondary;
  .has-error & { display: none; }
}

.checkbox-pre {
  padding-left: 26px;
  margin-top: r(1);
}