.main-header {
  position: fixed 0 0 n() 0;
  z-index: index($layers, header);
  transition: background-color .3s ease 0s;
  @each $type in $characters {
    &.has-background.#{$type} {
      background-color: theme($type, true);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    }
  }
}
.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: r(9);
  @include susy($tablet) {
    justify-content: space-between;
    height: r(10);
  }
}
.main-header__logo {
  .icon {
    @extend %scut-image-replace;
    margin: 0;
    size: r(14) r(5); // 106x40
    background: url('white-logo.svg') 50% 50% / contain no-repeat;
  }
  .slogan {
    display: none;
    @include susy($tablet) {
      display: block;
      margin: 0;
      text: $text-secondary-dark center ms(-1);
    }
  }
}
.main-header__nav {
  display: none;
  @include susy($tablet) {
    display: block;
    margin-left: auto; 
  } 

  .cell {
    margin-left: r(3);
    text: $text-secondary-dark ms(1);
  }

  .icon {
    size: 17px;
    fill: currentColor;
    position: relative -1px n() n() n();
  }
}