.story-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: r(2) n();
  @include susy($tablet) {
    padding: n() r(2);
    justify-content: space-around;
  }
}

.story-button {
  $size: span(3 of 9 1.5);
  @include Normalize();
  width: $size;
  padding-top: $size;
  position: relative;
  overflow: hidden;
  border: 1px solid $divider-gray;
  border-radius: 50%;
  text: center $link-color;
  fill: currentColor;  
  transition: all .3s ease 0s;
  @include susy($tablet) {
    $size: 160px;
    width: $size;
    padding-top: $size;
    &:hover, &.active {
      color: $white;
      &::before { transform: none; }
    }
  }
  &:focus { border-color: $link-color; }
  &::before {
    content: "";
    display: block;
    size: 100%;
    background-color: $link-color;
    position: absolute 0 n() n() 0;
    border-radius: 50%;
    transform: scale(0);
    transition: all .3s ease 0s;
  }

  .wrapper {
    @include scut-center-transform();
    width: 100%;
    @include susy($tablet) { width: auto; }
  }
  
  .icon {
    display: none;
    @include susy($tablet) {
      display: block;
      size: 56px;
      margin-bottom: r(2);
    }
  }

  .text {
    width: 100%;
    text: bold currentColor;
  }
}

.story-collapse {
  margin: r(2) r(-2) n();
  padding-top: r(3);
  text-align: center;
  position: relative;
  background-image: linear-gradient(to bottom, #019CB0 0%, #00BCD4 100%);  
  &::before {
    $size: 17px;
    content: "";
    top: - round($size/2);
    @include scut-triangle(up, $size, #019CB0);
    @include scut-center-transform(x);
  }  
}
.story-collapse__button-wrapper {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  & + & { margin-left: r(4); }

  .hint {
    @include Normalize();
    size: 45px;
    text-align: right;
  }
  .icon {
    size: 12px;
    fill: $white;
    vertical-align: top;
  }
}