.story-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: r(2) n();
  @include susy($tablet) {
    padding: n() r(2);
    justify-content: space-around;
  }
}

.story-button {
  $size: span(3 of 9 1.5);
  @include Normalize();
  width: $size;
  padding-top: $size;
  position: relative;
  overflow: hidden;
  border: 1px solid $divider-gray;
  border-radius: 50%;
  text: center $link-color;
  @include susy($tablet) {
    $size: 160px;
    width: $size;
    padding-top: $size;
    &:hover,
    &.active {
      color: $white;
      &::before { transform: none; }
    }
  }
  &::before {
    content: "";
    display: block;
    size: 100%;
    background-color: $link-color;
    position: absolute 0 n() n() 0;
    border-radius: 50%;
    transform: scale(0);
    transition: all .3s ease 0s;
  }

  .wrapper {
    @include scut-center-transform();
    width: 100%;
    @include susy($tablet) { width: auto; }
  }
  
  .icon {
    display: none;
    @include susy($tablet) {
      display: block;
      size: 56px;
      fill: currentColor;
      margin-bottom: r(2);
    }
  }

  .text {
    width: 100%;
    text: bold currentColor;
  }
}