//  Grid settings
//  =============

$susy: (
  gutters: 1/5,
  column-width: ms(11),
  // gutter-position: inside-static,
  debug: (
    // image: show,
  ),
  use-custom: (
    clearfix: true,
    rem: false,
  ),
);

// {{ Device layouts }}
$susy-media: (
  'mobile': '(max-width: 414px)',
  'tablet-portrait': '(max-width: 768px) and (orientation: portrait)',
  'tablet-landscape': '(max-width: 1024px) and (orientation: landscape)',
  'tablet': '(min-width: 768px)',
  'tablet-portrait-min': '(min-width: 768px) and (orientation: portrait)',
  'tablet-landscape-min': '(min-width: 768px) and (orientation: landscape)',
  'desktop': '(min-width: 1200px)'
);
$tablet: (
  query: map-get($susy-media, tablet),
  layout: 9
);
$tablet-columns: susy-get(columns, map-get($tablet, layout));
$desktop: (
  query: map-get($susy-media, desktop),
  layout: 10 split
);
$desktop-columns: susy-get(columns, map-get($desktop, layout));
$desktop-grid-padding: scut-rem(15);

// {{ Element twick points }}
$character-selector-twick: 694px;
$footer-copy-twick: 880px;

//  {{ Layers ------ }}
$layers: (
  base,
  hero-cover,
  hero-content,
  profile-label,
  header,
  to-top,
  drawer-toggle,
  drawer-mask,
  drawer
);
