//  Module Scale and base font settings
//  ===================================
$css-vars-debug-log  : false;
$css-vars-use-native : false;
$base-font-size      : 14px; // $ideal-font-size:  16px;
// $base-line-height: ms(1, $base-font-size);
$rhythm-unit         : "rem";
$rhythm-gap          : 8px;
$rem-with-px-fallback: false;
$scut-rem-base       : scut-strip-unit($base-font-size);
$ms-base             : $base-font-size;
$ms-ratio            : $minor-third; // {{ Component size }}
$global-radius       : 3px;
$card-max            : 328px;
