@charset "utf-8";
/* CSS Document */

.gradient--white{
	background:linear-gradient(to bottom, #d4d4d4 0%,#e8e8e8 2%,#f2f2f2 4%,#f2f2f2 39%,#f2f2f2 100%);}
.section-index-txt{
	    padding-top: 2.7rem;
    padding-bottom: 2.7rem;
	}