= render 'components/story_collapse_button', type: 'schedule',
  text: '評鑑開庭', href: new_party_score_schedule_path, role: 'party'

= render 'components/story_collapse_button', type: 'verdict',
  text: '評鑑判決', href: new_party_score_verdict_path, role: 'party'
