= render 'components/story_collapse_button', type: 'schedule',
  text: '評鑑開庭', href: input_info_party_score_schedules_path, role: 'party'

= render 'components/story_collapse_button', type: 'verdict',
  text: '評鑑判決', href: input_info_party_score_verdicts_path, role: 'party'
