//  Settings
//  ========

$color-light-saturation: 93%;

//  Colors
//  ======

$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

$mint-light:   #c2efe6;
$mint:         #1abc9c;
$mint-dark:    #16a085;
$green-light:  #c2f5db;
$green:        #2ecc71;
$green-dark:   #27ae60;
$blue-light:   #c2e5f6;
$blue:         #3498db;
$blue-dark:    #2980b9;
$purple-light: #e6d3ed;
$purple:       #9b59b6;
$purple-dark:  #8e44ad;
$black-light:  #ccd1d8;
$black:        #34495e;
$black-dark:   #2c3e50;
$yellow-light: #fcf1c2;
$yellow:       #f2ca27;
$yellow-dark:  #f39c12;
$orange-light: #fadec2;
$orange:       #e67e22;
$orange-dark:  #d35400;
$red-light:    #f9d0cd;
$red:          #e74c3c;
$red-dark:     #c0392b;
$white:        #ecf0f1;
$white-dark:   #bdc3c7;
$gray:         #95a5a6;
$gray-dark:    #7f8c8d;

//  Pallete
//  -------

// $alt: $theme;
$purple:       #44008a;
$gray-dark:    #4f4534;

$yellow-light: #F7F3E7;
$yellow:       #dbd3c2;
$yellow-dark:  #b8af9a;

$brown:        #bdb39d;
$brown-dark:   #8c7e60;

$border-gray: #b0b0b0;

$dot-active: $gray-dark;
$dot:        #c4baa0;

//  Texts
//  -----

$text-color:         #2a2a2a !default;


//  Backgrounds
//  -----------


//  Links
//  -----

$link-color:         #5e5e5e !default;
$link-hover-color:   #912200 !default;
$link-focus-color:     false !default;
$link-active-color:    false !default;
$link-visited-color:   false !default;

// {{ Gradient }}
// --------------
%gradient--gray {
  background-image: linear-gradient(to bottom, #e3e3e3 0%, #e4e4e4 4%, #ffffff 15%, #ffffff 100%);
}
%gradient--purple {
  background: linear-gradient(to bottom, #c7a4e0 0%, #c8a5e1 1%, #eed6ff 5%, #eed6ff 45%, #eed6ff 100%);
}
%gradient--blue {
  background: linear-gradient(to bottom, #acc2f5 0%, #adc3f5 2%, #ebf1ff 4%, #ebf1ff 39%, #ebf1ff 100%);
}

.gradient--blue {
  @extend %gradient--blue;
}
.gradient--purple {
  @extend %gradient--purple;
}

.bg-yellow {background-color: $yellow-light}