//  Font settings
//  =============
$hide-text-direction:   right;

$sans:    HelveticaNeue-Light
       , 'Helvetica Neue Light'
       , 'Helvetica Neue'
       ,  Helvetica
       , 'Heiti TC'
       , 'LiHei Pro'
       , 'Microsoft JhengHei'
       , '微軟正黑體'
       ,  Arial
       ,  sans-serif;

$serif:  'PT Serif'
       , Georgia
       , Times
       , 'Times New Roman'
       , 'Songti TC'
       , 'Hiragino Mincho ProN'
       , serif;