//  Module Scale and base font settings
//  ===================================

$base-font-size:   20px;
// $ideal-font-size:  15px;
$base-line-height: $base-font-size * 2;

$rhythm-unit: rem;
$rem-with-px-fallback: false;

// $ms-base:          $base-font-size, $ideal-font-size;
// $ms-ratio:         $fifth;

$scut-rem-base: scut-strip-unit($base-font-size);