- arr = @suit.judges + @suit.prosecutors
= f.input :profile_id, as: :select, collection: arr.map{ |a| [a.name, a.id] }, include_blank: "請選擇", input_html: { class: 'chosen-select' }
= f.input :unit
= f.input :title
= f.input :procedure_unit
= f.input :procedure_content, as: :text, input_html: { rows: 8 }
= f.input :procedure_result, as: :text, input_html: { rows: 8 }
= f.input :procedure_no
= f.input :procedure_date_in_tw, as: "string", hint: "半型純數字，民國，格式：YY/MM/DD，如不清楚確切日期就填該年第一天或該月第一天。決議日期 / 公告日期 / 評鑑發文日期 / 單位處理日期。"
= f.input :source
= f.input :source_link
= f.input :punish_link
- if f.object.file?
  .control-group
    label.control-label 檔案路徑：
    .controls= link_to "下載檔案", "#{f.object.file.url}", target: "_blank", download: "download", class: "btn"
= f.input :file, as: :file
= f.input :memo, as: :text, input_html: { rows: 5 }
= f.input :is_hidden, as: :boolean, hint: "打勾 = 前端頁面不顯示"

.form-actions
  = f.submit "送出", class: "btn btn-primary"
  = " "
  = link_to admin_suit_procedures_path(@suit), class: "btn" do
    = "回到#{@suit.title}的案例處理經過列表"