= f.input :unit
= f.input :content, as: :text, input_html: { rows: 8 }
= f.input :award_type
= f.input :publish_at_in_tw, as: "string", hint: "半型純數字，民國，格式：YY/MM/DD"
= f.input :source
= f.input :source_link
= f.input :origin_desc, as: :text, input_html: { rows: 8 }
= f.input :memo, as: :text, input_html: { rows: 5 }
= f.input :is_hidden, as: :boolean, hint: "打勾 = 前端頁面不顯示"
.form-actions
  = f.submit "送出", class: "btn btn-primary"
  = " "
  = link_to admin_profile_awards_path(@profile), class: "btn" do
    = "回到#{@profile.name}的獎勵紀錄列表"