= admin_widget_box "編輯#{@owner.name}的獎勵紀錄", icon: :pencil do
  = simple_form_for @award, url: polymorphic_path([@owner, @award]), method: :put, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
