= admin_widget_box "編輯#{@profile.name}的獎勵紀錄", icon: :pencil do
  = simple_form_for @award, url: admin_profile_award_path(@profile, @award), method: :put, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
