= admin_widget_box "新增#{@owner.name}的獎勵紀錄", icon: :pencil do
  = simple_form_for @award, url: send("admin_#{@owner_singularize}_awards_path", @owner), method: :post, wrapper: :admin do |f|
    = render partial: "form", object: f, as: :f
